{% extends 'base.html' %}

{% block content %}

<br><br>
<div class="container">
    <ul>
        {% for storage in storages %}
            <nav aria-label="breadcrumb">
                 <ol class="breadcrumb" style="background-color:#8acc51">
                     <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'storages_detail' storage.id  %}" style="color:black;">{{ storage.name }}</a></li>
                </ol>
            </nav>
        {% endfor %}
        <button type="button" class="btn btn-primary"><a href="{% url 'add_storage'%}" style="color:white;text-decoration: none;">Добавити склад</a></button>

    </ul>
</div>

{% endblock %}