{% extends 'base.html' %}

{% block content %}
    <ul>
        {% for storage in storages %}
            <li>{{ storage.name}}</li>
            <li>{{ storage.city}}</li>
            <li>{{ storage.address}}</li>
        {% endfor %}
    </ul>

    <a href="{% url 'storages_detail' %}">Детально про склади</a>


    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
            <div class="items-form">
                <div class="form-group{% if field.errors %} is-invalid{% endif %}">{{ field }}</div>
            </div>
        {% endfor %}
        <button type="submit"><a href="{% url 'add_storage'%}" style="color:white;text-decoration: none;">Добавити склад</a></button>
    </form>
{% endblock %}