{% extends 'base.html'%}
{% block content %}
<br><br>
<div class="container">
  <ul class="list-group">
    <li class="list-group-item"><b>City:</b> {{ cities_detail.name }}</li>
    <li class="list-group-item"><b>Country:</b> {{ cities_detail.country }}</li>
  </ul><br>
 <button type="button" class="btn btn-warning"><a href="{% url 'update_city' cities_detail.pk  %}" style="color:black">Редагувати місто</a></button>
 <button type="button" class="btn btn-danger"><a href="{% url 'delete_city' cities_detail.pk  %}" style='color:white;'>Видалити місто</a></button>
</div>
{% endblock %}