{% extends 'base.html' %}

{% block content %}

<br><br>
    <div class="container">
        {% for location in cities %}
        <ul class="list-group">
                <li class="list-group-item">
                    <b>{{ location.country }}</b>  <a href="{% url 'cities_detail' location.pk  %}">{{ location.name }}</a>
                </li>
        </ul><br>
        {% endfor %}
    <button type="button" class="btn btn-primary"><a href="{% url 'add_city'%}" style="color:white; text-decoration:none">Add city</a></button>
</div>
{% endblock %}